ENV_PEER_DNS=#DNS servers for the vpn, should include the server IP and a public on,(EX: 192.168.50.200,1.0.0.1)
ENV_PEERS=#Users for the VPN (Ex: peer1,peer2,eduardo,dinis,tabletPai)
ENV_SERVER_URL=#Public IP that is used to connect to from outside