ENV_DNS_ADDRESS=10.2.0.1
ENV_VPN_SERVICE_PROVIDER=#Ex: protonvpn
ENV_OPENVPN_USER= #Ver como obter na pagina https://protonvpn.com/support/port-forwarding-manual-setup#openvpn
ENV_OPENVPN_PASSWORD= #Ver como obter na pagina https://protonvpn.com/support/port-forwarding-manual-setup#openvpn
ENV_SERVER_COUNTRIES= #Escolher pais para usar o VPN
ENV_WIREGUARD_PRIVATE_KEY=