ENV_DB_USERNAME=
ENV_DB_PASSWORD=
ENV_APP_URL= #URL that is used to access the server, use public if you plan on acessing it publically
ENV_APP_KEY=#Key to encrypt data in the db, can be generated via `echo "base64:$(openssl rand -base64 32)"`. If you want to pass the db from a server to another, this key needs to be the same on both